<a href="https://colab.research.google.com/github/Sathyavrv/Nifty/blob/main/Nifty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/Sathyavrv/Nifty.git

Cloning into 'Nifty'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 6 (delta 0), reused 6 (delta 0), pack-reused 0
Receiving objects: 100% (6/6), 11.38 MiB | 13.55 MiB/s, done.

# Imports

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load datas

In [ ]:
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)
from pandas_datareader import data as pdr

nifty_day = pdr.get_data_yahoo('^NSEI', start='2015-01-07',end='2022-10-21')

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed

In [ ]:
nifty_day

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-07,8118.649902,8151.200195,8065.450195,8102.100098,8102.100098,164100
2015-01-08,8191.399902,8243.500000,8167.299805,8234.599609,8234.599609,143800
2015-01-09,8285.450195,8303.299805,8190.799805,8284.500000,8284.500000,148000
2015-01-12,8291.349609,8332.599609,8245.599609,8323.000000,8323.000000,103200
2015-01-13,8346.150391,8356.650391,8267.900391,8299.400391,8299.400391,129600
...,...,...,...,...,...,...
2022-10-14,17322.300781,17348.550781,17169.750000,17185.699219,17185.699219,227000
2022-10-17,17144.800781,17328.550781,17098.550781,17311.800781,17311.800781,212200
2022-10-18,17438.750000,17527.800781,17434.050781,17486.949219,17486.949219,239500
2022-10-19,17568.150391,17607.599609,17472.849609,17512.250000,17512.250000,210500
2022-10-20,17423.099609,17584.150391,17421.000000,17563.949219,17563.949219,249600

In [ ]:
nifty_5min = pd.read_csv("/content/Nifty/src/NIFTY_5min_jan_2015_to_oct_2022.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/NIFTY_5min_jan_2015_to_oct_2022.csv'

In [ ]:
nifty_5min

In [ ]:
nifty_min = pd.read_csv("/content/Nifty/src/NIFTY 50 - Minute data.csv")

In [ ]:
nifty_min

# Preprocess

In [ ]:
# Function to clean data and add new columns
def clean_data(minute_data, five_min_data):
    # Standardize date format and remove timezone and volume column
    minute_data['date'] = pd.to_datetime(minute_data['date']).dt.tz_localize(None)
    minute_data = minute_data.drop(columns=['volume'])

    five_min_data['date'] = pd.to_datetime(five_min_data['date']).dt.tz_localize(None)
    five_min_data = five_min_data.drop(columns=['volume'])

    # Create a DataFrame for mapping
    mapping = []
    for i in range(1, 5):
        offset = pd.Timedelta(minutes=5-i)
        temp = minute_data.copy()
        temp['five_min_date'] = temp['date'] + offset
        temp = temp[['five_min_date', 'open']]
        temp.columns = ['date', f'{i}']
        mapping.append(temp)

    # Merge the mapping DataFrames with the 5-minute data
    for temp in mapping:
        five_min_data = five_min_data.merge(temp, on='date', how='left')

    # Split the date column into date, day, year, and time into minute, second, hour
    five_min_data['Date'] = five_min_data['date'].dt.date
    five_min_data['Month'] = five_min_data['date'].dt.month
    five_min_data['Day'] = five_min_data['date'].dt.day
    five_min_data['Year'] = five_min_data['date'].dt.year
    five_min_data['Hour'] = five_min_data['date'].dt.hour
    five_min_data['Minute'] = five_min_data['date'].dt.minute
    five_min_data = five_min_data.drop(columns=['date'])

    # Remove the first row from five_min_data
    five_min_data = five_min_data.iloc[1:].reset_index(drop=True)

    return five_min_data

# Apply the function to clean the data
clean_nifty_5min = clean_data(nifty_min, nifty_5min)

NameError: name 'nifty_min' is not defined

In [ ]:
clean_nifty_5min

,close,high,low,open,1,2,3,4,Date,Month,Day,Year,Hour,Minute
0,8301.00,8303.00,8293.25,8300.50,8292.60,8287.40,8294.25,8300.60,2015-01-09,1,9,2015,9,20
1,8294.15,8302.55,8286.80,8301.65,8300.65,8302.45,8294.85,8295.20,2015-01-09,1,9,2015,9,25
2,8288.50,8295.75,8280.65,8294.10,8295.40,8289.65,8292.30,8290.65,2015-01-09,1,9,2015,9,30
3,8283.45,8290.45,8278.00,8289.10,8289.40,8289.55,8282.75,8283.45,2015-01-09,1,9,2015,9,35
4,8285.55,8288.30,8277.40,8283.40,8284.75,8284.95,8278.95,8282.30,2015-01-09,1,9,2015,9,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136196,17577.60,17577.95,17562.35,17562.35,17567.45,17563.05,17555.40,17560.35,2022-10-21,10,21,2022,15,5
136197,17571.00,17580.95,17570.10,17578.00,17570.90,17568.75,17574.00,17573.75,2022-10-21,10,21,2022,15,10
136198,17579.45,17581.00,17570.75,17571.35,17577.65,17573.65,17580.35,17576.00,2022-10-21,10,21,2022,15,15
136199,17595.20,17595.20,17576.75,17579.40,17577.35,17574.40,17577.90,17577.35,2022-10-21,10,21,2022,15,20
136200,17583.75,17596.75,17581.70,17594.75,17580.50,17583.45,17587.60,17590.05,2022-10-21,10,21,2022,15,25

In [ ]:
# Function to add columns from nifty_day to clean_five_min_data
def add_day_columns(clean_five_min_data, nifty_day):
    clean_five_min_data['High_1'] = None
    clean_five_min_data['Low_1'] = None
    clean_five_min_data['Volume_1'] = None
    clean_five_min_data['High_2'] = None
    clean_five_min_data['Low_2'] = None
    clean_five_min_data['Volume_2'] = None

    for idx, row in clean_five_min_data.iterrows():
        date = row['Date']
        prev_dates = nifty_day.loc[:date].tail(3).index[:-1]  # Get previous 2 dates
        if len(prev_dates) == 2:
            clean_five_min_data.at[idx, 'High_1'] = nifty_day.at[prev_dates[-1], 'High']
            clean_five_min_data.at[idx, 'Low_1'] = nifty_day.at[prev_dates[-1], 'Low']
            clean_five_min_data.at[idx, 'Volume_1'] = nifty_day.at[prev_dates[-1], 'Volume']
            clean_five_min_data.at[idx, 'High_2'] = nifty_day.at[prev_dates[-2], 'High']
            clean_five_min_data.at[idx, 'Low_2'] = nifty_day.at[prev_dates[-2], 'Low']
            clean_five_min_data.at[idx, 'Volume_2'] = nifty_day.at[prev_dates[-2], 'Volume']

    return clean_five_min_data

# Apply the function to add day columns
clean_nifty_5min = add_day_columns(clean_nifty_5min, nifty_day)

In [ ]:
clean_nifty_5min

,close,high,low,open,1,2,3,4,Date,Month,Day,Year,Hour,Minute,High_1,Low_1,Volume_1,High_2,Low_2,Volume_2
0,8301.00,8303.00,8293.25,8300.50,8292.60,8287.40,8294.25,8300.60,2015-01-09,1,9,2015,9,20,8243.5,8167.299805,143800,8151.200195,8065.450195,164100
1,8294.15,8302.55,8286.80,8301.65,8300.65,8302.45,8294.85,8295.20,2015-01-09,1,9,2015,9,25,8243.5,8167.299805,143800,8151.200195,8065.450195,164100
2,8288.50,8295.75,8280.65,8294.10,8295.40,8289.65,8292.30,8290.65,2015-01-09,1,9,2015,9,30,8243.5,8167.299805,143800,8151.200195,8065.450195,164100
3,8283.45,8290.45,8278.00,8289.10,8289.40,8289.55,8282.75,8283.45,2015-01-09,1,9,2015,9,35,8243.5,8167.299805,143800,8151.200195,8065.450195,164100
4,8285.55,8288.30,8277.40,8283.40,8284.75,8284.95,8278.95,8282.30,2015-01-09,1,9,2015,9,40,8243.5,8167.299805,143800,8151.200195,8065.450195,164100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136196,17577.60,17577.95,17562.35,17562.35,17567.45,17563.05,17555.40,17560.35,2022-10-21,10,21,2022,15,5,17607.599609,17472.849609,210500,17527.800781,17434.050781,239500
136197,17571.00,17580.95,17570.10,17578.00,17570.90,17568.75,17574.00,17573.75,2022-10-21,10,21,2022,15,10,17607.599609,17472.849609,210500,17527.800781,17434.050781,239500
136198,17579.45,17581.00,17570.75,17571.35,17577.65,17573.65,17580.35,17576.00,2022-10-21,10,21,2022,15,15,17607.599609,17472.849609,210500,17527.800781,17434.050781,239500
136199,17595.20,17595.20,17576.75,17579.40,17577.35,17574.40,17577.90,17577.35,2022-10-21,10,21,2022,15,20,17607.599609,17472.849609,210500,17527.800781,17434.050781,239500
136200,17583.75,17596.75,17581.70,17594.75,17580.50,17583.45,17587.60,17590.05,2022-10-21,10,21,2022,15,25,17607.599609,17472.849609,210500,17527.800781,17434.050781,239500

In [ ]:
# Function to calculate Fibonacci levels
def calculate_fibonacci_levels(df):
    fib_ratios = [0.5, 0.618, 1.5, 1.618]
    for ratio in fib_ratios:
        df[f'Fib_{ratio}_H1_L1'] = df['High_1'] - (df['High_1'] - df['Low_1']) * ratio
        df[f'Fib_{ratio}_H1_L2'] = df['High_1'] - (df['High_1'] - df['Low_2']) * ratio
        df[f'Fib_{ratio}_H2_L1'] = df['High_2'] - (df['High_2'] - df['Low_1']) * ratio
        df[f'Fib_{ratio}_H2_L2'] = df['High_2'] - (df['High_2'] - df['Low_2']) * ratio

    return df

# Apply the function to calculate Fibonacci levels
clean_nifty_5min = calculate_fibonacci_levels(clean_nifty_5min)

In [ ]:
clean_nifty_5min

,close,high,low,open,1,2,3,4,Date,Month,...,Fib_0.618_H2_L1,Fib_0.618_H2_L2,Fib_1.5_H1_L1,Fib_1.5_H1_L2,Fib_1.5_H2_L1,Fib_1.5_H2_L2,Fib_1.618_H1_L1,Fib_1.618_H1_L2,Fib_1.618_H2_L1,Fib_1.618_H2_L2
0,8301.00,8303.00,8293.25,8300.50,8292.60,8287.40,8294.25,8300.60,2015-01-09,1,...,8161.149754,8098.206695,8129.199707,7976.425293,8175.349609,8022.575195,8120.208084,7955.415416,8177.249363,8012.456695
1,8294.15,8302.55,8286.80,8301.65,8300.65,8302.45,8294.85,8295.20,2015-01-09,1,...,8161.149754,8098.206695,8129.199707,7976.425293,8175.349609,8022.575195,8120.208084,7955.415416,8177.249363,8012.456695
2,8288.50,8295.75,8280.65,8294.10,8295.40,8289.65,8292.30,8290.65,2015-01-09,1,...,8161.149754,8098.206695,8129.199707,7976.425293,8175.349609,8022.575195,8120.208084,7955.415416,8177.249363,8012.456695
3,8283.45,8290.45,8278.00,8289.10,8289.40,8289.55,8282.75,8283.45,2015-01-09,1,...,8161.149754,8098.206695,8129.199707,7976.425293,8175.349609,8022.575195,8120.208084,7955.415416,8177.249363,8012.456695
4,8285.55,8288.30,8277.40,8283.40,8284.75,8284.95,8278.95,8282.30,2015-01-09,1,...,8161.149754,8098.206695,8129.199707,7976.425293,8175.349609,8022.575195,8120.208084,7955.415416,8177.249363,8012.456695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136196,17577.60,17577.95,17562.35,17562.35,17567.45,17563.05,17555.40,17560.35,2022-10-21,10,...,17493.840957,17469.863281,17405.474609,17347.276367,17445.374023,17387.175781,17389.574109,17326.797605,17438.889785,17376.113281
136197,17571.00,17580.95,17570.10,17578.00,17570.90,17568.75,17574.00,17573.75,2022-10-21,10,...,17493.840957,17469.863281,17405.474609,17347.276367,17445.374023,17387.175781,17389.574109,17326.797605,17438.889785,17376.113281
136198,17579.45,17581.00,17570.75,17571.35,17577.65,17573.65,17580.35,17576.00,2022-10-21,10,...,17493.840957,17469.863281,17405.474609,17347.276367,17445.374023,17387.175781,17389.574109,17326.797605,17438.889785,17376.113281
136199,17595.20,17595.20,17576.75,17579.40,17577.35,17574.40,17577.90,17577.35,2022-10-21,10,...,17493.840957,17469.863281,17405.474609,17347.276367,17445.374023,17387.175781,17389.574109,17326.797605,17438.889785,17376.113281
136200,17583.75,17596.75,17581.70,17594.75,17580.50,17583.45,17587.60,17590.05,2022-10-21,10,...,17493.840957,17469.863281,17405.474609,17347.276367,17445.374023,17387.175781,17389.574109,17326.797605,17438.889785,17376.113281

In [ ]:
# Function to calculate differences
def calculate_differences(df, base_col, columns):
    for col in columns:
        df[f'Diff_{base_col}_{col}'] = abs(df[base_col] - df[col])
    return df

# Columns to calculate differences
columns_to_diff = ['1', '2', '3', '4', 'High_1', 'Low_1', 'High_2', 'Low_2'] + \
                  [f'Fib_{ratio}_H1_L1' for ratio in [0.5, 0.618, 1.5, 1.618]] + \
                  [f'Fib_{ratio}_H1_L2' for ratio in [0.5, 0.618, 1.5, 1.618]] + \
                  [f'Fib_{ratio}_H2_L1' for ratio in [0.5, 0.618, 1.5, 1.618]] + \
                  [f'Fib_{ratio}_H2_L2' for ratio in [0.5, 0.618, 1.5, 1.618]]

# Apply the function to calculate differences
clean_nifty_5min = calculate_differences(clean_nifty_5min, 'open', columns_to_diff)

In [ ]:
clean_nifty_5min[:30]

,close,high,low,open,1,2,3,4,Date,Month,...,Diff_open_Fib_1.5_H1_L2,Diff_open_Fib_1.618_H1_L2,Diff_open_Fib_0.5_H2_L1,Diff_open_Fib_0.618_H2_L1,Diff_open_Fib_1.5_H2_L1,Diff_open_Fib_1.618_H2_L1,Diff_open_Fib_0.5_H2_L2,Diff_open_Fib_0.618_H2_L2,Diff_open_Fib_1.5_H2_L2,Diff_open_Fib_1.618_H2_L2
0,8301.00,8303.00,8293.25,8300.50,8292.60,8287.40,8294.25,8300.60,2015-01-09,1,...,324.074707,345.084584,141.25,139.350246,125.150391,123.250637,192.174805,202.293305,277.924805,288.043305
1,8294.15,8302.55,8286.80,8301.65,8300.65,8302.45,8294.85,8295.20,2015-01-09,1,...,325.224707,346.234584,142.4,140.500246,126.300391,124.400637,193.324805,203.443305,279.074805,289.193305
2,8288.50,8295.75,8280.65,8294.10,8295.40,8289.65,8292.30,8290.65,2015-01-09,1,...,317.674707,338.684584,134.85,132.950246,118.750391,116.850637,185.774805,195.893305,271.524805,281.643305
3,8283.45,8290.45,8278.00,8289.10,8289.40,8289.55,8282.75,8283.45,2015-01-09,1,...,312.674707,333.684584,129.85,127.950246,113.750391,111.850637,180.774805,190.893305,266.524805,276.643305
4,8285.55,8288.30,8277.40,8283.40,8284.75,8284.95,8278.95,8282.30,2015-01-09,1,...,306.974707,327.984584,124.15,122.250246,108.050391,106.150637,175.074805,185.193305,260.824805,270.943305
5,8283.75,8287.65,8278.05,8285.40,8284.95,8286.10,8280.55,8277.75,2015-01-09,1,...,308.974707,329.984584,126.15,124.250246,110.050391,108.150637,177.074805,187.193305,262.824805,272.943305
6,8276.25,8284.25,8273.95,8283.80,8281.40,8282.80,8279.75,8278.65,2015-01-09,1,...,307.374707,328.384584,124.55,122.650246,108.450391,106.550637,175.474805,185.593305,261.224805,271.343305
7,8282.00,8283.60,8275.05,8275.95,8275.50,8278.95,8279.05,8278.70,2015-01-09,1,...,299.524707,320.534584,116.7,114.800246,100.600391,98.700637,167.624805,177.743305,253.374805,263.493305
8,8285.50,8287.35,8281.70,8281.80,8275.15,8279.45,8283.05,8279.60,2015-01-09,1,...,305.374707,326.384584,122.55,120.650246,106.450391,104.550637,173.474805,183.593305,259.224805,269.343305
9,8280.30,8286.40,8279.95,8285.55,8283.75,8284.60,8286.35,8284.40,2015-01-09,1,...,309.124707,330.134584,126.3,124.400246,110.200391,108.300637,177.224805,187.343305,262.974805,273.093305
10,8281.55,8281.60,8274.95,8280.05,8283.60,8285.20,8282.70,8283.10,2015-01-09,1,...,303.624707,324.634584,120.8,118.900246,104.700391,102.800637,171.724805,181.843305,257.474805,267.593305
11,8283.35,8284.25,8277.95,8281.50,8278.95,8275.75,8277.10,8279.00,2015-01-09,1,...,305.074707,326.084584,122.25,120.350246,106.150391,104.250637,173.174805,183.293305,258.924805,269.043305
12,8287.50,8287.90,8283.10,8283.65,8282.25,8281.00,8280.70,8283.05,2015-01-09,1,...,307.224707,328.234584,124.4,122.500246,108.300391,106.400637,175.324805,185.443305,261.074805,271.193305
13,8290.45,8291.10,8286.55,8287.50,8283.75,8286.20,8286.60,8285.80,2015-01-09,1,...,311.074707,332.084584,128.25,126.350246,112.150391,110.250637,179.174805,189.293305,264.924805,275.043305
14,8288.25,8291.45,8286.20,8290.60,8288.05,8286.65,8288.25,8290.65,2015-01-09,1,...,314.174707,335.184584,131.35,129.450246,115.250391,113.350637,182.274805,192.393305,268.024805,278.143305
15,8286.45,8289.15,8283.75,8288.10,8290.10,8287.10,8288.45,8287.25,2015-01-09,1,...,311.674707,332.684584,128.85,126.950246,112.750391,110.850637,179.774805,189.893305,265.524805,275.643305
16,8281.35,8287.10,8280.45,8286.40,8286.70,8284.20,8286.20,8285.00,2015-01-09,1,...,309.974707,330.984584,127.15,125.250246,111.050391,109.150637,178.074805,188.193305,263.824805,273.943305
17,8281.85,8283.85,8279.50,8281.30,8284.90,8283.15,8283.45,8282.30,2015-01-09,1,...,304.874707,325.884584,122.05,120.150246,105.950391,104.050637,172.974805,183.093305,258.724805,268.843305
18,8284.65,8285.75,8279.10,8281.95,8279.85,8282.50,8281.15,8282.05,2015-01-09,1,...,305.524707,326.534584,122.7,120.800246,106.600391,104.700637,173.624805,183.743305,259.374805,269.493305
19,8285.70,8288.20,8282.40,8285.00,8280.95,8283.00,8284.80,8283.65,2015-01-09,1,...,308.574707,329.584584,125.75,123.850246,109.650391,107.750637,176.674805,186.793305,262.424805,272.543305
20,8288.00,8288.85,8282.30,8285.75,8283.05,8285.45,8286.05,8286.45,2015-01-09,1,...,309.324707,330.334584,126.5,124.600246,110.400391,108.500637,177.424805,187.543305,263.174805,273.293305
21,8281.55,8288.10,8280.20,8287.95,8287.80,8287.35,8283.30,8285.70,2015-01-09,1,...,311.524707,332.534584,128.7,126.800246,112.600391,110.700637,179.624805,189.743305,265.374805,275.493305
22,8282.35,8286.35,8279.90,8281.85,8286.30,8284.55,8282.70,8281.15,2015-01-09,1,...,305.424707,326.434584,122.6,120.700246,106.500391,104.600637,173.524805,183.643305,259.274805,269.393305
23,8278.45,8283.20,8276.15,8282.55,8283.30,8282.10,8282.05,8285.45,2015-01-09,1,...,306.124707,327.134584,123.3,121.400246,107.200391,105.300637,174.224805,184.343305,259.974805,270.093305
24,8266.55,8280.70,8266.55,8278.55,8282.30,8280.05,8278.30,8277.20,2015-01-09,1,...,302.124707,323.134584,119.3,117.400246,103.200391,101.300637,170.224805,180.343305,255.974805,266.093305
25,8264.75,8270.15,8262.85,8267.05,8277.90,8279.25,8280.55,8269.45,2015-01-09,1,...,290.624707,311.634584,107.8,105.900246,91.700391,89.800637,158.724805,168.843305,244.474805,254.593305
26,8255.55,8264.75,8250.20,8264.65,8264.90,8266.80,8266.55,8266.30,2015-01-09,1,...,288.224707,309.234584,105.4,103.500246,89.300391,87.400637,156.324805,166.443305,242.074805,252.193305
27,8251.90,8261.20,8250.55,8255.85,8253.65,8258.25,8252.40,8252.80,2015-01-09,1,...,279.424707,300.434584,96.6,94.700246,80.500391,78.600637,147.524805,157.643305,233.274805,243.393305
28,8255.65,8259.70,8251.40,8252.40,8259.70,8258.25,8254.50,8253.35,2015-01-09,1,...,275.974707,296.984584,93.15,91.250246,77.050391,75.150637,144.074805,154.193305,229.824805,239.943305
29,8254.80,8260.70,8253.30,8255.95,8253.70,8255.80,8259.05,8255.80,2015-01-09,1,...,279.524707,300.534584,96.7,94.800246,80.600391,78.700637,147.624805,157.743305,233.374805,243.493305

In [ ]:
def determine_targets(df):
    df['target'] = 'wait'  # Default value

    for i in range(len(df)):
        current_open = df.at[i, 'open']
        current_date = df.at[i, 'Date']
        for j in range(i+1, len(df)):
            if df.at[j, 'Date'] != current_date:
                break
            if df.at[j, 'high'] - current_open > 50:
                df.at[i, 'target'] = 'buy'
                break
            if df.at[j, 'low'] - current_open < -50:
                df.at[i, 'target'] = 'sell'
                break

    return df

# Apply the function to determine targets
clean_nifty_5min = determine_targets(clean_nifty_5min)

In [ ]:
clean_nifty_5min

,close,high,low,open,1,2,3,4,Date,Month,...,Diff_open_Fib_1.618_H1_L2,Diff_open_Fib_0.5_H2_L1,Diff_open_Fib_0.618_H2_L1,Diff_open_Fib_1.5_H2_L1,Diff_open_Fib_1.618_H2_L1,Diff_open_Fib_0.5_H2_L2,Diff_open_Fib_0.618_H2_L2,Diff_open_Fib_1.5_H2_L2,Diff_open_Fib_1.618_H2_L2,target
0,8301.00,8303.00,8293.25,8300.50,8292.60,8287.40,8294.25,8300.60,2015-01-09,1,...,345.084584,141.25,139.350246,125.150391,123.250637,192.174805,202.293305,277.924805,288.043305,sell
1,8294.15,8302.55,8286.80,8301.65,8300.65,8302.45,8294.85,8295.20,2015-01-09,1,...,346.234584,142.4,140.500246,126.300391,124.400637,193.324805,203.443305,279.074805,289.193305,sell
2,8288.50,8295.75,8280.65,8294.10,8295.40,8289.65,8292.30,8290.65,2015-01-09,1,...,338.684584,134.85,132.950246,118.750391,116.850637,185.774805,195.893305,271.524805,281.643305,sell
3,8283.45,8290.45,8278.00,8289.10,8289.40,8289.55,8282.75,8283.45,2015-01-09,1,...,333.684584,129.85,127.950246,113.750391,111.850637,180.774805,190.893305,266.524805,276.643305,sell
4,8285.55,8288.30,8277.40,8283.40,8284.75,8284.95,8278.95,8282.30,2015-01-09,1,...,327.984584,124.15,122.250246,108.050391,106.150637,175.074805,185.193305,260.824805,270.943305,sell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136196,17577.60,17577.95,17562.35,17562.35,17567.45,17563.05,17555.40,17560.35,2022-10-21,10,...,235.552395,62.024805,68.509043,116.975977,123.460215,81.424219,92.486719,175.174219,186.236719,wait
136197,17571.00,17580.95,17570.10,17578.00,17570.90,17568.75,17574.00,17573.75,2022-10-21,10,...,251.202395,77.674805,84.159043,132.625977,139.110215,97.074219,108.136719,190.824219,201.886719,wait
136198,17579.45,17581.00,17570.75,17571.35,17577.65,17573.65,17580.35,17576.00,2022-10-21,10,...,244.552395,71.024805,77.509043,125.975977,132.460215,90.424219,101.486719,184.174219,195.236719,wait
136199,17595.20,17595.20,17576.75,17579.40,17577.35,17574.40,17577.90,17577.35,2022-10-21,10,...,252.602395,79.074805,85.559043,134.025977,140.510215,98.474219,109.536719,192.224219,203.286719,wait
136200,17583.75,17596.75,17581.70,17594.75,17580.50,17583.45,17587.60,17590.05,2022-10-21,10,...,267.952395,94.424805,100.909043,149.375977,155.860215,113.824219,124.886719,207.574219,218.636719,wait

# Model Implementations

# Github